.background    { background-image: url("img/Background.png");
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 100, 100); }
.wall          { background-image: url("img/Wall.png");}
.floater {background: yellow; }

.actor  { position: absolute;  }
.player { background-image: url("img/Jojo.png");  }
.coin 	{background-image: url("img/Aja.png");
			background-size: 25px 25px;}


.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
