.background    { background-image:  url("img/Wall2.png");
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background-image: url("img/bubble.png"); }
.wall          { background-image: url("img/Wall.png");}
.water			{background-image: url("img/Water.png");
				opacity: 0.2}
.floater {background-image: url("img/Aja.png");
			background-size: 25px 25px}
.boost {background-image: url("img/Boost.png");
	background-size: 25px 25px;}

.actor  { position: absolute;  }
.player { background-image: url("img/Jojo.png");  }
.coin 	{background-image: url("img/Mask.png");
			background-size: 25px 25px;}


.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
.lost .player {
   background-image: url("img/Jojo.png");
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}